.mainLeaderboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleWrapper {
  display: flex;
  gap: 1rem;

  &>button {
    background-color: rgb(18, 18, 18);
    border: none;
    cursor: pointer;
    margin: 0;
    border-radius: 100vw;
    aspect-ratio: 1;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
      aspect-ratio: 1;
      filter: invert(1);
      user-select: none;
    }

    &:hover {
      outline: 2px solid white;
    }
  }
}

.leaderboardTable {
  &.recentMovesTable {
    &>thead {
      &>tr {
        &>th {
          padding: 1rem;
          text-align: center;

          @media screen and (max-width: 570px) {
            padding: 1rem;
          }
        }
      }
    }
  }

  &>thead {
    &>tr {
      background-color: rgb(18, 18, 18);

      &>th {
        padding: 1rem;
        text-align: center;

        @media screen and (max-width: 570px) {
          padding: 4px;
        }


      }
    }
  }

  &>tbody {
    &>tr:nth-child(even) {
      background-color: rgb(18, 18, 18);

      &>td {
        padding: 0.5rem;
        text-align: center;
      }
    }

    &>tr:nth-child(odd) {
      background-color: none;

      &>td {
        padding: 0.5rem;
        text-align: center;
      }
    }

    & tr>td {
      &[data-result="lose"] {
        color: red;
      }

      &[data-result="win"] {
        color: green;
      }

      text-transform: capitalize;
    }
  }
}


.highlight {
  outline: 2px solid white;
}